################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CheckFIO/obj
/StrignComporation/obj
/.vs/StrignComporation
/StrignComporation/bin/Debug/netcoreapp3.1
/CheckFIO/bin/Debug/netcoreapp3.1
/StrignComporationTest/bin/Debug/netcoreapp3.1
/StrignComporationTest/obj
/Elastic/bin/Debug/netcoreapp3.1
/Elastic/obj
/ElasticTest/obj
/ElasticTest/bin/Debug/netcoreapp3.1
/Elastic/bin/Release/netcoreapp3.1
/Elastic/obj
/Elastic/bin
/ElasticTest/bin/Debug/netcoreapp3.1
/ElasticTest/obj/Debug/netcoreapp3.1
/ElasticTest/obj/Release/netcoreapp3.1
/ElasticTest/obj
