################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CheckFIO/obj
/StrignComporation/obj
/.vs/StrignComporation
/StrignComporation/bin/Debug/netcoreapp3.1
/CheckFIO/bin/Debug/netcoreapp3.1
/StrignComporationTest/bin/Debug/netcoreapp3.1
/StrignComporationTest/obj
/Elastic/bin/Debug/netcoreapp3.1
/Elastic/obj
/ElasticTest/obj
/ElasticTest/bin/Debug/netcoreapp3.1
/Elastic/bin/Release/netcoreapp3.1
/CheckFIO/bin/Release/netcoreapp3.1
/StrignComporationTest/bin/Release/netcoreapp3.1
/StrignComporation/bin/Release/netcoreapp3.1
/FIO.Compare/obj
/FIO.Compare/bin/Debug/netcoreapp3.1
