################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CheckFIO/obj
/StrignComporation/obj
/.vs/StrignComporation
/StrignComporation/bin/Debug/netcoreapp3.1
/CheckFIO/bin/Debug/netcoreapp3.1
/StrignComporationTest/bin/Debug/netcoreapp3.1
/StrignComporationTest/obj
